.main {
  background-color: black;
  padding: 50px;
}

.name_header {
  text-align: right;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-top: 20px; /* Adjust as needed */
  margin-right: 100px;
}

.header {
  text-align: center;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  top: 0;
  position: top;
  padding-bottom: 50px;

}

.menu-list {
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
  padding: 0;
  min-width: 125px;
  max-width:125px;
}

.menu-list li a {
  color: inherit;
  text-decoration: none;
}

.menu-list li a:hover {
  text-decoration: underline;
}

.menu-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-list li:hover {
  text-decoration: underline;
}

.logo-container {
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 30%;
  width: auto;
  height: auto;
  padding-left: 380px;
  padding-top: 150px;
  margin-bottom: 200px;
}

.home-logo {
  max-width: 40%;
  width: auto;
  height: auto;
}

.home-logo-container {
  justify-content: left;
  align-items: left;
  padding-bottom: 30px;
}

.about-container {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: white;
  margin: 5px 0;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 50px;
  margin-bottom: 300px;
}

.pfp {
  max-width: 15%; /* Change this to 100% to make sure the image doesn't exceed its container */
  height: auto;
  display: block; /* This ensures that the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
}

.pfp_container {
  position: top;
  justify-content: center;
  align-items: center;
}

.flex-about{
  display: flex;
}

.content-container {
  flex: 1;
}

.flex-home{
  display: flex;
}

.flex-photography{
  display: flex;
}

.photo-container img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 40%; /* Limit the width of the images */
  margin: 50px;
  padding-left: 310px;
}